<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medico Assist</title>
</head>
<body>
  <center>
    <h1>Abishek Multispeciality Hospital</h1>
    <h3>Fix an Appointment!!</h3>
  </center>
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "096eeba4-8a74-4087-a320-194115c7b284", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "637522d8-a1b1-4753-941c-02cd55cc5629", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>
</body>
</html>