<!DOCTYPE html>
<html>
<head>
	<title>Hospital Chatbot</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>Help desk</h1>
				</div>
				<div class="content">
					<h3>Welcome to the OHSU Division of Hospital Medicine!</h3>
					<p>Our Division is comprised of physicians and physician-assistants (PAs) who serve the OHSU 
                        and Tuality Hospital communities. Our mission is to deliver compassionate, high-value medical care, 
                        outstanding education, and meaningful contributions to OHSU thriving academic mission.Our OHSU group 
                        grew to include our community hospital partners at Tuality Hospital in Hillsboro, OR in 2018. Together we serve an integral role in 
                        meeting the care needs of patients in our home communities and across the state of Oregon.
                        <br>Our faculty and community associates are actively engaged in quality improvement, health-care informatics, hospital operations, 
                        healthcare leadership, and educational research. In the Division of Hospital Medicine, we strive for service to our patients, communities, 
                        institutions, and to the field of Medicine. We believe in compassion, connection, and joy in practice for our providers.</p>
                        <li>Head, Division of Hospital Medicine</li>
                    <p>

                    </p>
					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="https://lonewolf.s3.jp-tok.cloud-object-storage.appdomain.cloud/DoctorImg.jpg">
			</div>
		</div>
	</div>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "2d044b92-023d-4987-95b1-17d700546d4a", // The ID of this integration.
          region: "jp-tok", // The region your integration is hosted in.
          serviceInstanceID: "1e45b316-4478-47ea-954e-6548b7dc66ae", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>

</body>
</html>